
<ion-content>

  <ion-grid class="ion-container"> 
    <ion-row class="ion-account-message">
      <ion-col class="text-center">
        <ion-text>
          <h4 *ngIf="responseMessage.errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert"> 
            {{responseMessage.errorMessage}}
            <button type="button" class="close"  aria-label="Close" (click)="closeErrorAlert()">
              <span aria-hidden="true">&times;</span>
            </button>
          </h4>         
        </ion-text>
        <br> 
      </ion-col>    
    </ion-row> 
    <ion-row>      
      <ion-col>      
       <div class="ion-account-container">      
         <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">         
          <ion-text color="tertiary">
            <h5 class="text-center">Log In to your TravisComms Account</h5>
            <hr>
          </ion-text>     
           <ion-list lines="full">
             <ion-item>
               <ion-label position="stacked" class="ion-form-font">Email Address <ion-text color="danger">*</ion-text></ion-label>
               <ion-input type="text" formControlName="emailAddress"></ion-input>
               <span class="text-danger font-weight-bold">
                {{ emailValidationMessage }}
              </span>
             </ion-item>                 

               <ion-item>
                 <ion-label position="stacked" class="ion-form-font">Password <ion-text color="danger">*</ion-text></ion-label>
                 <ion-input type="password" formControlName="password"></ion-input>                 
                 <span class="text-danger font-weight-bold">
                   {{ invalidPasswordMessage }}
                 </span>
               </ion-item>                   
                                          
           </ion-list>
           <div class="ion-padding" style="text-align: center;">
             <ion-button [disabled]="!loginForm.valid" class="small" fill="outline" type="submit" color="primary">Log In</ion-button>
           </div>
         </form>
       </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 
 
  

