.ion-register-container {
    margin-top: 10%; 
}
.ion-register-message {
    margin-top: 5%;
}

@media (min-width: 1024px) {
    .ion-container {
        width: 45%;
    }
}
.ion-form-font{
    font-size: 20px;
}
.ion-form-item{
    border-color:#5138c2;
    border-width: 2px;
    border-style: solid;
}
